/*Aquí comienza el reset del css*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Aquí termina el reset del css*/

/*Aquí comienza mi código personalizado*/

body{
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,span,a{
    margin: 15px auto;
}
.container{
    position: relative;
    max-width: 100%;
    margin:0 auto;
    padding: 0;
}
.top-header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #fff;
    padding: 10px;
    .logo{
        max-width: 200px;
        img{
            width: 100%;
        }
    }
    .nav-menu{
        justify-content: end;
        display: grid;
        margin:auto;
        .container-menu{
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin: 5px;
                    a{
                        text-decoration: none;
                        color: #121212;
                    }
                }
            }
        }
        
    }
}
.contenido_front_page{
    position: relative;
    height: 100vh;
    margin: auto;

    h1{
        text-align: center;
        color:#fff;
        font-size: 3rem;
        padding-top:90px;
    }
    .banner-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0;
        z-index: -1;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.contener_negocio{
    background-color: goldenrod;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
}
#masthead{
    margin: 0 auto;
    width: 100%;

}
.buscador_principal{
    width: 90%;
    border-radius: 12px;
    position: relative;
    padding: 32px;
    margin: 20px auto;

    input{
        border-radius: 8px;
        text-align: center;
    }
}
.botonera_categorias{
    margin: 20px auto;
    align-items: flex-start;
    button{
        width: 90px;
        height: 90px;
        vertical-align: bottom;
        font-size: 12px;
    }
}
.anuncios_recientes, .articulos_blog_recientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    h2{
        grid-column: 1/5;
    }
}
.anuncios_recientes__articulo, .articulos_blog_recientes__articulo{
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    h3{
        padding: 10px;
    }
}
.lista-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
    margin: 0 auto;
    max-width: 1200px;
}
.lista-productos__h2{
    grid-column:1/5;
}
.producto{
    max-width: 300px;
    box-sizing: border-box;
    background-color: #09f;
    figure{
        width: 100%;
        img{
            width: 100%;
            height: auto;
        };
    }
}
