.directorist{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.select2-selection{
    width: 100;
}

.atbd_ads-form{
  color:#Fff;
  display: grid;
}
.atbd_seach_fields_wrapper{
    color:#Fff;
    grid-row: 1/2;;
    input{
        width: 200px;
    }
}


.atbdp-search-form{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.atbd_submit_btn_wrapper{
    /*Botones mas filtros y search*/
    display: grid;
    grid-template-columns: auto auto;
    justify-items: initial;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;

    a{
        justify-self: end;
    }
    .atbd_submit_btn{
        width: 300px;
        justify-self: start;
    }

}
#directorist.atbd_wrapper .btn-outline-primary{
    width: 200px;
    justify-self: end;
}
.single_search_field{
    background-color: rgb(230, 72, 72);
    border-radius: 5px;
    margin: 2px;
    height: 50px;
}
.search_query{
    background-color: #fff;
}
.search_category{
    background-color: #fff;
    display: flex;
}
.atbdp_map_address_field{
    background-color: #fff;
}
#directorist.atbd_wrapper .form-control {
    /*busqueda y ubicacion*/
    display: flex;
    max-width: 100%;
    height: 100%;
}

.atbd_seach_fields_wrapper .atbdp_map_address_field .atbdp_get_address_field {
    position: relative;
    height: 100%;
}

.select2-container--default .select2-selection--single {
    /*Busqueda por categoria*/
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 50px;
    padding-left: 20px;
    margin: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    /* color: #444; */
    line-height: initial;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
    margin: 0;
}
.atbd_seach_fields_wrapper .atbdp_map_address_field .atbdp_get_address_field span.atbd_get_loc {
    position: absolute;
    right: 15px;
    top: 25%;
    transform: translateY(-50%);
    cursor: pointer;
}
#directorist.atbd_wrapper .btn-lg {
    padding: 0 1rem;
    font-size: 1.1rem;
    line-height: 1.2;
    border-radius: 0.3rem;
    height: 50px;
}
.atbd_all_categories{
    text-align:center;
    margin-bottom: 80px;
}
.atbd_generic_header{
    display: none;
}
.ads-advaced--wrapper{
    background:none;
    /*Contenedor de buscador y de cards*/
}

/*busqueda por categoria*/
.cat-box{
    height: 150px;
    background-color: #5b3a2d69;;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cat-info span{
    display: none;
}


/* #directorist.atbd_wrapper .row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
    /* justify-content: center; */
   /*  max-width: 1200px; */
    /* margin: 0 auto; */
/* }  */
.atbd_single_listing, .atbd_listing_card  {
    background-color: lemonchiffon;
    width: 300px;
    margin:10px;
}
.atbd_badge{
    /*personaliza botones tipo new y popular*/
    background-color: antiquewhite;
    padding: 5px 10px;
    border-radius: 2px;
    display: block;
    width: fit-content;
}
.atbd_listing_thumbnail_area {
    /*este es el figure dl card que lleva dentro botones fav y otros */
    position: relative;
}

.atbd_listing_image{
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.atbd_listing_info{
    margin-top:300px;
    padding: 0 15px; 
}
.atbd_upper_badge, .bh_only, .atbd_lower_badge, .atbdp_add_to_fav_listings{
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
.atbd_lower_badge{

/*contenedor de new y popular*/

	.atbd_badge_popular {
        background: none;

	}
	.atbd_badge_new{
        background: none;
	}


}
.atbd_fav_tooltip{
    display: none;
}

.atbd_all_categories{
    .row{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 10px;
    }
}
.ads-advaced--wrapper{
    .container-fluid{
        .row{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 10px;
        }
    }
}